body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    margin-bottom: 200px;
} 
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    width: 70%;
}
.link-button{
    
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.value{
    background-image: url(shapes/7.png);
    
}